[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
  ignore = dirty
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = https://github.com/denolfe/fzf.git
